:root {
    color-scheme: dark light;
}

@media (prefers-color-scheme: dark) {
    :root {
        background: #343434;
        color: #fff;
    }

    footer {
        border-top: 1px solid #fff;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        background: #fff;
        color: #121212;
    }

    footer {
        border-top: 1px solid #121212;
    }
}

body {
    max-width: 100ch;
}

main {
    font-family: serif;
    font-size: 1rem;
    #index {
        margin: 1rem;
        font-size: 1.125rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .row {
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }
    }
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0.5rem auto;
    display: block;
}

.poem {
    padding: 0.5rem;
    p { margin: 0; }
    .indent { margin-left: 1rem; }
    line-height: 1.5;
}

footer {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    font-family: monospace;
}
