---
layout: default
title: gregat.es
---

%article
  %h3 About Greg Gates (that's me)
  %p
    I used to be a philosopher. I guess that sticks with you, so maybe I still
    am.

  %p
    These days I'm also a software developer, working primarily in C# and
    Javascript but very eager to learn more. My first programming language (if
    you don't count the bit of gwbasic I learned in grade school) was Ruby.

  %p
    You can read a bit about my experience in making the jump from academia
    to coding on
    %a{href: "http://webkite.com/2012/a-force-for-career-change-learning-to-code/", target: "_blank"} WebKite's blog
    (that's the company that took a chance on training
    me from scratch).

  %p
    Please don't hesitate to get in touch.

