---
layout: nopic
title: CV
---
%section
  %h4 Experience
  %hr

%section
  %h4 Education
  %hr
  .entry
    .heading University of Pittsburgh
    .date 2001 &ndash; 2011
    .description
      %p
        Ph.D. in Philosophy
      %p
        Dissertation:
        %em Probabilistic Accounts of Inferential Justification
  .entry
    .heading Indiana University
    .date 1997 &ndash; 2001
    .description
      %p
        B.S. in Mathematics, B.A. in Philosophy
      %p
        Graduated with highest distinction and departmental honors in Mathematics
