---
layout: nopic
title: CV
---
%article#cv
  %section
    %h4 Experience
    %hr
    .entry
      .heading
        Software Engineer,
        %a{href: "http://webkite.com", target: "_blank"} Webkite
      .date May 2012 &ndash; present
      .description
        %p
          Full-stack web developer responsible for agile feature development and maintenance of several distributed components in a larger system.
        %p
          Lead or sole developer on several large projects, including:
          %ul
            %li an oauth 2.0 authorization system
            %li a self-contained, embeddable javascript application for displaying sortable and filterable datasets with variety of different layouts
            %li a framework for developing small single-page applications for integration with a variety of hosting platforms (such as Facebook, WordPress, and Wix)
            %li an asynchronous background processing system using Amazon's Simple Workflow service
        %p
          Mentor and manager for brand-new developers through Webkite's
          %a{href: "http://www.fastcolabs.com/3014620/open-company/shortage-of-developers-in-your-city-one-startups-clever-solution"}
            Non-Traditional Programming Internship,
          a full-time, on-the-job learning program that trains ex-academics with
          no programming background to be developers.

    .entry
      .heading
        Content Development Intern,
        %a{href: "http://webkite.com", target: "_blank"} Webkite
      .date Aug 2011 &ndash; May 2012
      .description
        Collected, schematized, and maintained sets of data used to publish
        %a{href: "http://pikimal.com", target: "_blank"} pikimal.com
        and other sites hosted on the Webkite platform.

    .entry
      .heading
        Visiting Lecturer in Philosophy, University of Pittsburgh
      .date Aug 2011 &ndash; May 2012
      .description
        %p
          Designed and taught several advanced undergraduate courses, including:
          %ul
            %li Topics in the History of Philosophy (skepticism)
            %li Theory of Knowledge
            %li Philosophy of Mind

    .entry
      .heading
        Part-Time Faculty in Philosophy, University of Pittsburgh
      .date 2006 &ndash; 2011
      .description
        %p
          Taught or served as a teaching assistant for many undergraduate
          philosophy courses.

  %section
    %h4 Open Source
    %hr
    .entry
      .heading
        Author of
        %a{href: "https://github.com/gregates/oauth2-implicit-flow", target: "_blank"}oauth2-implicit-flow
      .description
        A node.js library for easily implementing OAuth 2.0 Implicit Flow in web clients built using browserify.
    .entry
      .heading
        Contributor to
        %a{href: "https://github.com/plataformatec/devise", target: "_blank"} Devise
      .description
        A popular authentication solution for Ruby on Rails
    .entry
      .heading
        Contributor to
        %a{href: "http://www.ember-cli.com/", target: "_blank"} Ember CLI
      .description
        A command line utility for development of Ember applications
    .entry
      .details
        %a{href: "https://github.com/gregates", target: "_blank"} github.com/gregates
        for more

  %section
    %h4 Education
    %hr
    .entry
      .heading University of Pittsburgh
      .date 2001 &ndash; 2011
      .description
        %p
          Ph.D. in Philosophy
        %p
          Dissertation:
          %em Probabilistic Accounts of Inferential Justification
    .entry
      .heading Indiana University
      .date 1997 &ndash; 2001
      .description
        %p
          B.S. in Mathematics, B.A. in Philosophy
        %p
          Graduated with highest distinction and departmental honors in Mathematics

  %section
    %h4 Selected Awards &amp; Achievements
    %hr
    .entry
      .heading.light Jacob K. Javitz Fellowship
      .date 2002 &ndash; 2006
    .entry
      .heading.light Andrew W. Mellon Fellowship in Humanistic Studies
      .date 2001 &ndash; 2002
    .entry
      .heading.light Herman B. Wells Scholarship
      .date 1997 &ndash; 2001
