$blog-background-color: #f2f3f4;

sidebar {
  float: left;
  width: 0px;
  img {
    width: 0px;
  }
}
@include at-breakpoint($desktop) {
  sidebar {
    width: 220px;
    img {
      position: fixed;
      display: block;
      border-radius: 0.5em;
      margin-right: 0;
      margin-left: 7px;
      width: 213px;
    }
  }
}

body { background-color: $blog-background-color; }

main {
  overflow:hidden;
  max-width: 1024px;
  padding: 0 0.5em;
  article {
    background-color: #fff;
    border-radius: 0.5em;
    padding: 1em;
  }
  @include at-breakpoint($desktop) {
    margin-left: 220px;
  }
}

.meta {
  margin: 0.5em 0;
  font-size: 12pt;
  color: $nav-highlight-background-color;
}

h4.subtitle {
  padding-top: 0.5em;
}

article {
  margin-bottom: 1em;
  p {
    margin: 0.8em 0;
  }
}
