main.wide {
  @include container;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

#cv {
  padding: 0.5em;
  p {
    font-size: 12pt;
    margin: 0;
    line-height: 1em;
  }
}

section {
  background-color: $blog-background-color;
  padding: 0.5em;
}

section:before,
section:after {
  display: table;
  content: " ";
}

section:after {
  clear: both;
}

hr {
  border: 0;
  height: 1px;
  @include background(linear-gradient(left, #ccc, #333, #ccc));
}

.table {
  .heading { font-weight: bold; }
  float: left;
  width: 10em;
  padding-right: 1em;
  padding-bottom: 0.5em;
}

.entry {
  a { text-decoration: none; }

  padding-bottom: 1em;
  .heading {
    @include span-columns(5);
    @include at-breakpoint($tablet) {
      @include span-columns(4)
    }
    float: left;
    font-weight: bold;
    &.light { font-weight: normal; }
  }

  .date {
    padding-left: 1px;
    padding-top: 1px;
    font-size: 10pt;
    @include span-columns(3);
    @include at-breakpoint($tablet) {
      @include span-columns(2 omega);
      font-size: 12pt;
      text-align: right;
    }
  }

  .description {
    clear: both;
    p {
      padding: 3px 1px;
    }
    ul {
      list-style: circle;
      margin-left: 1.5em;
    }
  }
}
