@import url(//fonts.googleapis.com/css?family=Inconsolata:400);
@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic);

body { font-family: "Proxima Nova Soft","Lato","Helvetica Neue","Helvetica","Droid Sans","Arial","sans-serif"; }
nav { font-family: "Georgia","serif"; }

h1 { font-weight: 700; font-size: 36px; }
h2 { font-weight: 700; font-size: 30px; }
h3 { font-weight: 700; font-size: 24px; }
h4 { font-weight: 700; font-size: 18px; }
em { font-style: italic; }
p { font-size: 14pt; line-height: 1.4em; }

$dark-purple: #463265;

a { color: $dark-purple; }

.spacer { height: 1em; }

$quote-background: #e2e3e4;

blockquote {
  background: $quote-background;
  border-radius: 0.2em;
  p { padding: 0.5em 1em; }
}

aside {
  font-size: 12pt;
  line-height: 1.2em;
  float: right;
  width: 33%;
  min-width: 10em;
  background-color: $quote-background;
  padding: 0.3em 0.5em;
  margin-left: 0.3em;
  border-radius: 0.2em;
}

$code-background: #000;
$code-text: #fff;
$code-bracket: #eee;
$code-comment: #93c;
$code-constant: #aa7;
$code-function: #fc0;
$code-ivar: #cf3;
$code-number: #399;
$code-keyword: #f60;
$code-regexp: #44b4cc;
$code-string: #6f0;
$code-string-delimiter: #6e0;
$code-string-escape: #3a0;

code { font-family: "Inconsolata","monospace"; }
p > code { padding: 4px 2px; font-weight: bold; }
li > code {
  margin-left: 1em;
  padding: 4px 2px;
  font-weight: bold;
  font-size: 14pt;
  line-height: 1.4em;
}

.highlight {
  pre {
    overflow: auto;
    overflow-x: auto;
    width: 100%;
  }
  background: $code-background;
  border-radius: 0.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  line-height: 1.2em;
  font-size: 11pt;
  @include at-breakpoint(30em) {
    font-size: 12pt;
  }
  @include at-breakpoint($desktop) {
    font-size: 13pt;
  }
  .ruby {
    color: $code-text;
    .k { color: $code-keyword; font-weight: bold; }
    .c, .cm, .cp, .c1, .cs { color: $code-comment; }
    .s, .sc, .sd, .sh, .sx, .s1, .s2, { color: $code-string; }
    .se, .si { color: $code-string-escape; }
    .sr { color: $code-regexp; }
    .p, .o { color: $code-bracket; }
    .nf { color: $code-function; }
    .ss, .kp, .m, .mf, .mh, .mi, .mo, .il { color: $code-number; }
    .nc, .no, .nb { color: $code-constant; }
    .vi { color: $code-ivar; }
  }
}
