<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {%- if page.extra.og.image -%}
  <meta property="og:image" content="{{ page.extra.og.image }}"/>
  {%- endif -%}
  <meta property="author" content="Greg Gates"/>
  <title>gregat.es</title>
  <link href="/g.css" rel="stylesheet" />
</head>

<body>
  {% block content %} {% endblock %}
  <footer>
      <a href="https://rowzero.io/home">Row Zero</a>
      <a href="https://github.com/gregates">GitHub</a>
      <a href="https://www.linkedin.com/in/greg-gates-87482420">LinkedIn</a>
      <a href="https://bsky.app/profile/gregat.es">Bluesky</a>
  </footer>
</body>

</html>
