!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{http: { equiv: "X-UA-Compatible" }, content: "IE=edge,chrome=1"}
    %title {{ page.title }} | gregat.es
    %meta{name: "viewport", content: "width=device-width"}

    %link{rel: "stylesheet", href: "/css/screen.css", type: "text/css", media: "screen, projection"}
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel: "stylesheet", type: "text/css"}

    %body
      {% haml nav.haml %}

      %sidebar
        %img{src: "/images/sidepic.png", height: "718px"}

      %main
        {{ content }}

    %script{src: "/js/gregat.es.js"}
