---
layout: default
---
%article{ id: "{{ page.url | split:'/' | last }}" }
  %h3 {{ page.title }}
  %h4.subtitle {{ page.subtitle }}
  %p.meta {{ page.date | date_to_string }}

  .post
    {{ content }}

  &laquo;
  %a{href: "/blog/#\{{ page.url | split:'/' | last }}"} blog index
